.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;

  .wr {
    display: flex;
  }


  .info {
    font-size: 14px;
    color: #808080;
  }

  .button {
    width: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 20px;

    &.disabled {
      pointer-events: none;
      opacity: 0.4;
    }

  }

  .pages {
    .pageBtn {
      display: inline-block;
      padding: 3px 7px;
      font-size: 14px;
      align-items: center;
      color: #808080;
      cursor: pointer;
      margin-right: 10px;

      @media (max-width: 639px) and (min-width: 320px){
        margin-right: 1px;
      }
    }

    span:last-child {
      margin-right: 0;
    }
    .active {
      background-color: #0064EB;
      color: #FFFFFF;
      border-radius: 3px;
    }
  }

  .arrow:hover * {
    stroke: #0064EB;
  }

  @media (max-width: 639px) and (min-width: 320px){
    flex-direction: column;
  }
}
