.userInfo {
  padding: 40px 0;

  .userPhoto {
    border-radius: 50%;
    width: 280px;
  }

  .userName {
    font-weight: 600;
    font-size: 26px;
    margin-top: 28px;
  }

  .userLink {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #0064EB;
    margin-top: 12px;
  }

  .subsBlock {
    display: flex;
    align-items: center;
    margin-top: 25px;

    img {
      margin-right: 8px;
    }
    span {
      margin-right: 16px;
    }
  }
}