.repository {
  margin-top: 24px;
  padding: 24px 32px;
  border-radius: 6px;
  background-color: #FFFFFF;

  .name {
    font-weight: 500;
    font-size: 24px;
    color: #0064EB;
    text-decoration: none;

    @media (max-width: 639px) and (min-width: 320px){
      font-size: 18px;
    }

    &:hover {
      color: red;
    }
  }
  .description {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;

    @media (max-width: 639px) and (min-width: 320px){
      font-size: 14px;
    }
  }

  @media (max-width: 639px) and (min-width: 320px){
    padding: 10px 16px;
  }
}