.reposInfo {
  margin: 28px 0 0 84px;
  width: 100%;
  display: flex;
  flex-direction: column;

  .repositories {
    font-weight: 600;
    font-size: 32px;
    color: #000000;
  }

  .reposContainer {
    height: 550px;
  }
}