.userInfo {
  padding: 40px 0;

  .avatar {
    border-radius: 50%;
    width: 280px;

    @media (max-width: 640px) and (min-width: 320px){
      width: 190px;
    }
  }

  .name {
    font-weight: 600;
    font-size: 26px;
    margin-top: 28px;
  }

  .link {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    color: #0064EB;
    margin-top: 12px;
  }

  .subsBlock {
    display: flex;
    align-items: center;
    margin-top: 25px;
    width: 305px;

    div {
      display: flex;
      align-items: center;
    }

    img {
      margin-right: 8px;
    }
    span {
      margin-right: 16px;
    }

    @media (max-width: 768px) and (min-width: 320px){
      flex-direction: column;
    }
  }

  @media (max-width: 768px) and (min-width: 320px){
    display: flex;
    flex-direction: column;
    align-items: center;
  }



}